<script type="text/javascript" src="/javascripts/index.js"></script>

<style>
.containner{
margin:10px;
}
.grid{height:200px;margin-top:10px;}
</style>

<div class="containner">

<input id="termoPesquisaPersonagem" type="text" />

<input id="pesquisarPersonagens" value="Pesquisar" type="button" />

<input id="removerPersonagens" value="Remover Todos" type="button" />

<div id="gridPersonagens" class="grid"></div>

</div>