<!DOCTYPE html>
<html>
  <head>
    <title>Personagens</title>
	 <link rel="stylesheet" type="text/css" href="/javascripts/w2ui-1.4.3/w2ui-1.4.3.min.css"/>
	 <script type="text/javascript" src="/javascripts/jquery-1.11.3.min.js"></script>
	 <script type="text/javascript" src="/javascripts/w2ui-1.4.3/w2ui-1.4.3.min.js"></script>
  
 
  </head>

<body>
 

   <header> 
		                   	
<h1>Personagens</h1>
    </header> 	 
<body>
	 <%- body %>
	 
	 <center>
	 	<img src="/images/south-park-header.jpg" />
	 </center>
</body>







<!--==============================footer=================================-->
  <footer>
	  

  </footer>	


</body>






</html>